body {
  background: #111;
  margin: 0;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  text-align: center;
  height: 99vh;
  color: #008529;
  user-select: none;
}
